@import "tailwindcss";

@theme {
    --color-main-blue: rgb(0, 82, 204);
    --color-main-purple: rgb(101, 84, 192);
    --color-sub-teal: rgb(54, 179, 126);
    --color-stress-orange: rgb(255, 86, 48);

    --font-noto-sans-kr: 
}